.background_1{
    background: rgb(112, 108, 108);
    height: 600px;
    border: black 3px solid;
    border-radius: 50px;
    box-shadow: 1px 1px white;


}
.setting_menu{
    background: rgb(112, 108, 108);
    height: 40px;
}
.setting_button{
    /*align-items: center;*/
    text-align: center;
}

.Gamepad_title{
    background-color: #5D6D7E;
    height: 80px;
    text-align: center;
    padding: 5px;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    font-family: Impact;
    letter-spacing: 2px;
    word-spacing: 5px;
    color: rgb(47, 142, 231);
    -webkit-text-stroke: 3px black;
    text-shadow: 2px 2px blanchedalmond;
}

.bar-value{
    width:300px;
}